{% extends "superbase.html" %}

{% block title %}Login Page{% endblock title %}

{% block body %}
    <h1 class='text-center'>Login Page</h1>
    <div class='container'>
        {{field.non_field_errors}}
        <form action="" method="POST">
            {% csrf_token %}
            {% for field in form %}
                <label class='form-label' id="{{field.id_for_label}}">{{field.label_tag}}</label>
                {{field}}
                {{field.errors}}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
{% endblock body %}
