{% extends "base.html" %}

    {% block title %}Blog Home Page{% endblock title %}
    {% block body %}
        <h1>Welcome - {{name|capfirst|truncatechars:5}}</h1>       
        {% for post in posts %} 
            <!-- forloop.first = {{forloop.first}} <br> forloop.last = {{forloop.last}} -->
            <a href="{% url "post" post.id %}"><h1>{{forloop.counter}} - {{post.title|capfirst}}</h1></a>
            <p>{{post.content|truncatewords:5}}</p>
        {% empty %}
            <h1>No posts available</h1>
        {% endfor %}        
    {% endblock body %}
                 
        