
{% extends "superbase.html" %}

{% block title %}Post Detail Page{% endblock title %}


    {% block body  %}
        <div class="content d-flex flex-column">
            <img class="text-center" src="{{post.post_image.url}}" />
                <div class="h5 text-center text-body-secondary">{{post.published_date}}</div>
    
                <h1 class="text-center fs-1 fw-bold my-3">{{post.post_title}}</h1>
                <div class="d-flex justify-content-center align-items-center flex-wrap ">
                    {% for tag in post.tags.all %}
                        <a href="{% url "tag" tag.id %}" class="btn btn-dark opacity-70 text-light m-2">#{{tag}}</a>
                    {% endfor %}
                        
                </div>
                <hr class="border border-dark border-1 opacity-50">
                <p>{{post.post_content}}</p>    
            </div>
            <h2>Comments</h2>
            {% if user.is_authenticated %}
                <form method='POST'>
                    {% csrf_token %}
                    {{form}}
                    <button type="Submit" class="btn btn-primary">Comment</button>
                </form>
            {% endif %}
            {% if not user.is_authenticated %}
                <h2 class='bg-danger'>Login To Comment</h2>
            {% endif %}
            <div class="card m-2">
                {% for comment in comments %}
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col">
                                <img src="https://static.vecteezy.com/system/resources/previews/000/550/980/non_2x/user-icon-vector.jpg"
                                    class="w-25 img-thumbnail rounded-circle" alt="...">
                            </div>
                            <div class="col-md-8">

                                <div class="card-body">
                                    <h5 class="card-title">{{comment.user}}</h5>
                                    <p class="card-text">{{comment.comment}}</p>
                                    {% comment %} <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>  {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
    {% endblock body  %}